/* members page for desktop */


/* header css */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffffff;
}

.row {
    padding: 0px;
    margin: 0px;
}

.container {
    padding: 0px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.header-row {
    margin: 7px 0px;
}

#mobileheader {
    display: none;
}

#mobilecontent {
    display: -webkit-box;
    margin-left: 24px;
    margin-right: 54px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#nav-btn {
    margin-left: 24px;
    margin-top: 53px;
    padding: 0px;
}

#mobiletext {
    display: none;
}

.header_logo_left {
    height: 120px;
    width: 101px;
    margin: 7px 0px 9px 64px;
}

.header_logo_left_mobile {
    display: none;
}

.titleRow {
    border-bottom: 2px solid #7ac141;
    margin: 28px 0px 0px 0px;
    padding-bottom: 10px;
}

.title {
    font-family: Volkhov;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #202020;
}

.navbar {
    padding: 0px;
    margin: 19px 0px 24px 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px;
}

.nav-link {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
    padding: 0px;
    margin-right: 32px;
}

.nav-link:hover {
    color: #4d4d4d;
}

.search-box {
    width: 20px;
    height: 18px;
    object-fit: contain;
    margin-top: 18px;
    position: absolute;
    right: 0px;
}

.search-box-mobile {
    display: none;
}

.header_logo_right {
    position: absolute;
    right: 39px;
    top: 19px;
}

.header_logo_right_mobile {
    display: none;
}

.banner-slider,
.carousel-inner {
    height: 480px !important;
    width: 100%;
}

.bgr_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    height: 480px;
}

.banner-text {
    max-height: 216px;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    font-family: Volkhov;
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: relative;
    top: -334px;
}


/* header css end */


/* Members content css*/

.members-heading {
    font-family: Volkhov;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #202020;
    margin-left: 168px;
}

.left-details-data {
    font-family: OpenSans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #4d4d4d;
    margin-left: 168px;
}

.member_box {
    width: 272px;
    height: 376px;
    background-color: #346788;
    padding: 5px;
    margin-left: 106px;
}

.box_heading_content {
    font-family: OpenSans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 23px 0px 0px 25px;
}

.box_title_content {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 25px 0px 0px 30px;
}

.box_title_desc {
    opacity: 0.5;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 2px 0px 0px 30px;
}

.member_inner_box {
    height: 366px;
    border: solid 5px #c3a56b;
    background-color: #346788;
}

.members-title {
    font-family: OpenSans;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #202020;
    margin-left: 168px;
}

.members-desc {
    font-family: OpenSans-Regular;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #8e8e8e;
    margin-left: 168px;
    margin-bottom: 0px;
    max-width: 752px;
}

.members-desc strong {
    font-family: OpenSans-SemiBold;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #4d4d4d;
}

.members-desc-adr {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #4d4d4d;
    margin-left: 168px;
    margin-top: 8px;
    max-width: 752px;
}

.members-desc-adrs {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #4d4d4d;
    margin-left: 168px;
    margin-top: 8px;
    max-width: 752px;
    margin-bottom: 188px;
}

.member-divier {
    width: 656px;
    height: 1px;
    opacity: 0.5;
    background-color: #7ac141;
    margin-left: 168px;
    margin-top: 8px;
}


/* Members content css end*/


/* footer css */

.footer {
    height: 240px;
    background-color: #202020;
}

.footer_left {
    width: 607px;
}

.footer_logo {
    height: 120px;
    margin: 66px 0px 54px 203px;
}

.footer-info {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 84px;
    margin-right: 168px;
}


/* footer css end */


/* Members page for tablet*/

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    /* header css */
    .header-row {
        margin: 7px 0px;
    }
    .header_logo_left {
        height: 120px;
        width: 101px;
        margin: 7px 0px 9px 56px;
    }
    .titleRow {
        border-bottom: 2px solid #7ac141;
        margin: 28px 0px 0px 0px;
        padding-bottom: 10px;
    }
    .title {
        font-family: Volkhov;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0px;
        text-align: left;
        color: #202020;
    }
    .navbar {
        padding: 0px;
        margin: 19px 0px 24px 0px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0px;
        margin-right: 25px;
    }
    .nav-link {
        font-family: OpenSans;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4d4d4d;
        padding: 0px;
        margin-right: 32px;
    }
    .nav-link:hover {
        color: #4d4d4d;
    }
    .search-box {
        width: 20px;
        height: 18px;
        object-fit: contain;
        margin-top: 18px;
        position: absolute;
        right: 0px;
    }
    .header_logo_right {
        position: absolute;
        right: 31px;
        top: 19px;
    }
    .banner-slider,
    .carousel-inner {
        height: 480px !important;
        width: 100%;
    }
    .bgr_image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 10px;
        height: 480px;
    }
    .banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 10px;
        height: 480px;
    }
    .banner-text {
        max-height: 216px;
        text-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
        font-family: Volkhov;
        font-size: 64px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: relative;
        top: -334px;
    }
    /* header css for tablet end */
    /* members content css */
    .members-heading {
        font-family: Volkhov;
        font-size: 48px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #202020;
        margin-left: 40px;
    }
    .left-details-data {
        font-family: OpenSans;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.78;
        letter-spacing: normal;
        color: #4d4d4d;
        margin-left: 40px;
    }
    .member_box {
        width: 272px;
        height: 376px;
        background-color: #346788;
        padding: 5px;
        margin-left: 106px;
    }
    .box_heading_content {
        font-family: OpenSans;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin: 23px 0px 0px 25px;
    }
    .box_title_content {
        font-family: OpenSans;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin: 25px 0px 0px 30px;
    }
    .box_title_desc {
        opacity: 0.5;
        font-family: OpenSans;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin: 2px 0px 0px 30px;
    }
    .member_inner_box {
        height: 366px;
        border: solid 5px #c3a56b;
        background-color: #346788;
    }
    .members-title {
        font-family: OpenSans;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #202020;
        margin-left: 40px;
    }
    .members-desc {
        font-family: OpenSans-Regular;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.78;
        letter-spacing: normal;
        color: #8e8e8e;
        margin-left: 40px;
        margin-bottom: 0px;
        max-width: 752px;
    }
    .members-desc strong {
        font-family: OpenSans-SemiBold;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.78;
        letter-spacing: normal;
        color: #4d4d4d;
    }
    .members-desc-adr {
        font-family: OpenSans;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        letter-spacing: normal;
        color: #4d4d4d;
        margin-left: 40px;
        margin-top: 8px;
        max-width: 752px;
    }
    .members-desc-adrs {
        font-family: OpenSans;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        letter-spacing: normal;
        color: #4d4d4d;
        margin-left: 40px;
        margin-top: 8px;
        max-width: 752px;
        margin-bottom: 188px;
    }
    .member-divier {
        width: 656px;
        height: 1px;
        opacity: 0.5;
        background-color: #7ac141;
        margin-left: 40px;
        margin-top: 8px;
    }
    /* members content css end*/
    /* footer css */
    .footer {
        height: 240px;
        background-color: #202020;
    }
    .footer_left {
        width: 496px;
    }
    .footer_logo {
        height: 120px;
        margin: 66px 0px 54px 41px;
    }
    .footer-info {
        font-family: OpenSans;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
        margin-top: 84px;
        margin-right: 40px;
    }
    /* footer css end */
}